.dlist { 
	font-family:Verdana,Arial,Helvetica,sans-serif;
	color:#000;
	font-size:10px;
	width:100%;
	height:18; 
}

div.scroll {
	overflow-y:auto;
	overflow-x:hidden;
	height: 90px;
}

table.cabecera {
	font-family: Verdana, Arial; 
	font-size: 12px; 
	font-weight: bold;  
	color: #669966; 
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	border-left:none;
}

table.cabecera tr td.logo {
	background: url(../img/cab_mujer.jpg) no-repeat;
	width: 504px;
	height: 122px;
}

table.cabecera tr td table tr td{
	border-top: 1px solid;
	border-left: 1px solid;
	border-right:  1px solid;
	border-bottom:  1px solid;
	padding: 5;
}

.body {
	margin:0;
	background-color:#FFFFFF;
	scrollbar-face-color:#FFFFFF;
	scrollbar-shadow-color:#999999;
	scrollbar-highlight-color:#999999;
	scrollbar-3dlight-color:#FFFFFF;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-track-color:#F5F5F5;
	scrollbar-arrow-color:#999999;
}

.bgcolor1 {
	background-color: #FFFFFF;
}

.box2 {
	background-color: #FFFFFF;
	border: 1px solid;
	border-color: rgb(196, 196, 196);
	border-right: none;
	border-top: none;
}

.box3 {
	background-color: #FFFFE8;
	border-color: rgb(196, 196, 196);
	padding-left: 5px;
	padding-right:5px;
	border: 1px solid #A6A6A6;
}

.box3 th {
	background-color:#D5D5FF;
}

.box3 tr td {
	padding-left: 8px;
	padding-right:8px;
}

.box1b { 
	border: 1px solid #B5B5B5; 
	background-color:#FBFBFB;
}

.head1 { 
	font-family: Verdana, Arial; 
	font-size: 12px; 
	font-weight: bold; 
	color: #669966; 
	background:url(../img/titlebar.gif); 
	border:thin #000000;
	background-repeat: repeat-x;
	text-align: center; 
}

.head2 { 
	font-family: Verdana, Arial; 
	font-size: 11px; 
	font-weight: bold;  
	color: #669966; 
	background:url(../img/notext.gif) right no-repeat; 
	border:thin #000000;
	text-align: center; 
}

.dhref { 
	font-family: Verdana, Arial; 
	font-size: 9px; 
	font-weight: bold; 
	text-decoration: none; 
	color: blue; 
}

.dboton { 
	font-family: Verdana, Arial; 
	font-size: 12px; 
	color: #333333; 
	background-color:#cccccc;
}

.dlabel { 
	font-family: Verdana; 
	font-size: 10px; 
	color: #000;
	font-weight:bold;
	text-decoration:none; 
}

.label0 { 
	font-family: Verdana; 
	font-size: 10px; 
	color: #000;
	font-weight:normal;
	text-decoration:none; 
}

#main #nav-main a, {
	background-position:100% -150px;
	padding:7px 6px 5px 1px;
	color:#000;
}

#main #nav-no a, {
	background-position:100% -300px;
	padding:7px 6px 5px 1px;
	color:#75767A;
}

#main #nav-no, {
	background-position:0 -300px;
	border-width:0;
}

#main #nav-main, {
	background-position:0 -150px;
	border-width:0;
}

#header {
	float: left;
	width: 100%;
	background: #ffffff;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	white-space: nowrap;
}

#header ul {
	margin: 0;
	padding: 2px 0px 0;
	list-style: none;
}

#header ul a {
	width: auto;
}

#header a {
	float: left;
	display: block;
	width: auto;
	background: url(../img/tabright.gif) no-repeat right top;
	padding: 6px 6px 5px 1px;
	text-decoration: none;
	font-weight: bold;
	color: Black;
}

#header a:hover {
	color: #f00;
}

#header li {
	float: left;
	background: url(../img/tableft.gif) no-repeat left top;
	margin: 0;
	padding: 0 0 0 8px;
	border-bottom: 1px solid #999;
}

#header li:hover a {
	background-position: 100% 450px;
	background: url(./img/tabright.gif) no-repeat right top;
}

input {
    font-family: Verdana, Arial; 
	font-size: 11px; 
	color: #000; 
	border: 1px solid #999; 
	padding:2px;
}

input:focus {
    border-bottom: #0000FF solid 2px;
    border-right: #0000FF solid 2px;
    border-left: #0000A0 solid 2px;
    border-top:  #0000A0 solid 2px;
    color: #000;
}

table.login {
    border: 1px solid #A6A6A6;
	border-collapse: collapse;
	background:url(../img/whitebg.gif) bottom no-repeat;
	width: 470;
	height: 200;
}

.error { 
	font-family: Verdana, Arial; 
	font-size: 10px; 
	font-weight:bold;
	color: #FF0909; 
}

.derror { 
	font-family: Verdana, Arial; 
	font-size: 10px; 
	color: black; 
	border: 2px solid red; 
}

table.login td {
    padding-right: 8px;
	padding-left: 8px;
}

table.list {
    border: 1px solid #A6A6A6;
	border-collapse: separate;
    margin-top: 10px;
}

table.list tr.fila1 {
    background-color: #FFFFFF ;
	border-bottom: 1px solid #ccc;
}

table.list tr.fila1 td.col1 {
	background:url(../img/notext.gif) top right no-repeat;
	border: 1px solid #A6A6A6;
	
}

table.list tr.fila1 td.col2 {
    padding-left: 3px;
	background: #B7FFB7;
	border: 1px solid #A6A6A6;
}

.titulo {
	background: #B7FFB7;
	border: 1px solid #A6A6A6;
	text-align:center;
	color:#26512C;	
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

.submenu {
    font-family: Verdana, Arial;
    font-size: 10px;
}

.submenu a {
    font-weight: bold;
    text-decoration: none;
    border:none;
    color: #4E4E4E;
}

.submenu a.resaltado {
    font-weight: bold;
    text-decoration: underline;
    border:none;
    color: #D70000;
}

hr {
    border-style: inherit;
    border-color: #A6A6A6;
    border-width: 1px;
}